**/bin/Debug/
**/bin/Release/
**/ClientDebug/
**/ClientRelease/
**/ServerDebug/
**/ServerRelease/
**/Debug/
**/Release/
**/*.db
**/.vs/
**/.vscode/
/Sources/packages/cryptopp-v143.8.7.0.2
/Lib/LuaLibDll.dll
/Lib/common.lib
/Sources/MultiServer/GameServer/Common.lib
/Sources/MultiServer/GameServer/CoreServer.lib
/Sources/MultiServer/GameServer/Engine.lib
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterText.obj
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterText_StaticLib.idb
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterText_StaticLib.pdb
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/Regexp.obj
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText.obj
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText.sbr
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText_StaticLib.bsc
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText_StaticLib.pdb
/Sources/FilterText/FilterText_StaticLib___Win32_Release/Regexp.obj
/Sources/FilterText/FilterText_StaticLib___Win32_Release/Regexp.sbr
/Lib/Engine.lib
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterText_StaticLib.lib
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterTe.D9B8DDEA.tlog/FilterText_StaticLib.lastbuildstate
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterTe.D9B8DDEA.tlog/CL.command.1.tlog
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterTe.D9B8DDEA.tlog/Lib-link.read.1.tlog
/Sources/FilterText/FilterText_StaticLib___Win32_Debug/FilterText_StaticLib.lib
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterTe.D9B8DDEA.tlog/CL.command.1.tlog
/Sources/FilterText/FilterText_StaticLib___Win32_Release/FilterTe.D9B8DDEA.tlog/CL.read.1.tlog
/db/account_backup.bak
/Lib/LuaLibDll.lib
*.tlog
/Sources/FilterText/FilterText_StaticLib___Win32_Release/*
